.about_me{
    text-align: center;
    padding: 10px 5px;
    border-radius: 10px;
    max-width: 450px;
    background:  rgba(250, 247, 247,0.5) ;
    box-shadow: 0 -4px 10px rgba(102, 126, 234,0.2), 0 4px 10px rgba(118, 75, 162,0.2);
  }
  .five_designs{
    align-self: center;
  }
  .image-ux{
    width: 100%;
  }
  .image-card{
    width: 200px;
    margin:0px  20px 30px 20px;
  }
  .image-phone{
    width: 300px;
    margin:0px  20px 30px 20px;
  }
  .card-wrap{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
  }
  .card3{    
    box-shadow: 10px 15px #9c5ae9;
  }
  .card5{    
    box-shadow: 10px 15px #6956e7;
  }
  .card7{    
    box-shadow: 10px 15px #3c5dff;
  }

  .design-text{
    font-weight: 800;
    border-bottom: 5px solid #667EEA;
    /* Create the gradient. */
    background-image: linear-gradient(45deg, #667EEA, #764BA2);
    /* Set the background size and repeat properties. */
    background-size: 100%;
    background-repeat: repeat;
  
    /* Use the text as a mask for the background. */
    /* This will show the gradient as a text color rather than element bg. */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
  }
  .design-text-h{
    border-bottom: 8px solid #667EEA;
    width: 75%;
  }
  .design-text-smol{
    border-bottom: 3px solid #667EEA;
    width: 75%;
  }
  .design-text-home {
    margin-top: 40px;
    margin-bottom: 100px;
    width: 80%;
  }
  .design-text-design{
    font-weight: 800;
    /* Create the gradient. */
    background-image: linear-gradient(45deg, #667EEA, #764BA2);
    /* Set the background size and repeat properties. */
    background-size: 100%;
    background-repeat: repeat;
  
    /* Use the text as a mask for the background. */
    /* This will show the gradient as a text color rather than element bg. */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
  }
  .ux-w{
    margin: auto;
  }
  .about{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .my-skills{
    color:black;
    text-decoration: underline;
  }
.test-phone{
  width: 100%;
  margin:0 auto;
display: grid;
  justify-content: center;
  align-items:center;
}

  @media only screen and (min-width: 992px) {
    .ux-w{
      margin: auto;
      width: 70%;
    }
  }
  /* Home */
  @media only screen and (max-width: 600px) {
    .design-text-home {
      width: 100%;
    }
    .design-text-h{
      width: 100%;
    }
    .card-wrap{
      flex-direction: column;
    }
    .image-card{
      width: 300px;
    }
  }
