
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');
@import './styles/projects.module.css';
@import './styles/about.module.css';
@import './styles/skills.module.css';
@import './styles/anim.module.css';
@import './styles/home.module.css';
@import './styles/graphics.module.css';

:root{
  --sidebar-flex:1.5;
  --condiv-flex:6;
  --fontsize-p:1.2rem;
  --fontsize-nav:1.6rem;
  --typing-font:3rem;
}
*
{
  margin:0;
  padding: 0;
}
body{
  font-family: 'Nunito', sans-serif;
}
.particles {
  position: fixed;
  right: 0;
  right: 0;
  bottom: 0;
  height:100%;
  width: 100%;
  left: 0;
  z-index:0;
}

.App
{
  position: relative;
  display: flex;
  min-height: 100vh;
}
.condiv
{
  padding: 100px;
  background-color: #faf7f7;
  background: url("./img/form-top.svg") top left no-repeat, url("./img/form-bot.svg") bottom right no-repeat;
  background-size: 62%;
  flex:var(--condiv-flex);
  position: relative;
  min-height: 100vh;
  
}
.fa-bars {
  cursor: pointer;
  position: absolute;
  top: 30px;
  right: 30px;
  z-index: 10;
  color:  #667eea;
  display: none;
}
.cls-1{
  fill:red;
}
nav
{
  padding:30px 30px 0px 30px ;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  flex:var(--sidebar-flex);
  background: #667eea;
  background:  linear-gradient(#667eea 20%, #764ba2 100%);
  min-height: 100vh;
  z-index:0;
}

svg:hover{
  transition: 0.25s;
  filter: drop-shadow(0px 0px 2px rgba(87, 87, 87, 0.3));  
  -webkit-filter: drop-shadow(0px 0px 2px rgba(88, 88, 88, 0.3));   
}
nav ul{
  position: fixed;
  font-size:var(--fontsize-nav) ;
  text-align: center;
  list-style-type: none;
  text-decoration: none;
  color: white !important;
}
nav ul li
{
  font-size: 1em;
  margin: 20px 40px;
  z-index: 0;
  pointer-events: auto;
}
nav ul hr {
  border: none;
  border-bottom: 2px solid rgba(255, 255, 255,0.5);
  opacity: 0.5;
}



a
{
  text-decoration: none;
  color: white;
}

.subtopic
{
  margin:10px 10px 30px 10px !important;
  color: rgb(116, 116, 116);
}
p{
  font-size: var(--fontsize-p);
}
h1,h2,h3,h4,p{
  margin: 10px;
}


/* SCROLLBAR */

/* width */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  border-left: 1px solid #8d8aeb;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #667eea;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #6866ea;
}






.social
{
  padding-left: 35px;
  align-self: center;
  position: absolute;
  display: flex;
  bottom: 60px;
}

.social i
{
  margin-right: 30px;
  font-size: 25px;
  color: #8b9adb;
}

.social i:hover
{
  color: #667eea;
}

.copy{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  left: 52%;
  position: absolute !important;
  bottom: 0 !important;
  margin-bottom: 0 !important;
  color:#b095ca;
}

.social-distancing {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid#cebfdd;
  align-self: center;
}

.copy-hr{
  display: flex;
  align-items: center;
  justify-content: center;
}














/*  MEDIA  */

@media all and (max-width: 900px) {
  :root {
    --fontsize-nav:1rem;
    --sidebar-flex:0;
    --typing-font:2rem;
  }
 .fa-bars{
    position:fixed;
    display: block;
 }
 .fa-bars:active{
   color:#764ba2;
 }
 .copy{
  width: 100%;
  left: 0%;
}


  .sidebar
  {
    padding: 30px;
    background: #667eea;
    background: linear-gradient(#667eea 20%, #764ba2 100%);
  }
  .condiv
  {
    background-size: 100%;
    padding: 35px;
    min-height: 100vh;
  }
  .skills-height{
    min-height: 145vh;
  }
  .skill-wrapper {
    flex-direction: column;
  }
  .mf-form{
    min-height: 110vh;
  }

  .mf-form > form {
    width: 250px;
  }
  .gallery{
    -ms-grid-columns: (minmax(290px, 1fr))[auto-fit];
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    column-gap: 0;
  }
  .card .info { 
    width: 60%;
  }
  .gallery img {
    height: 250px;
  }
  .vl {
    border-left: none;
    border-bottom: 2px solid#cebfdd;
    height: 0;
    margin-top: 60px;
    margin-bottom: 30px;
    width: 120px;
    align-self: center;
  }
  .subtopic{
    text-align: center;
  }
  .skill-wrapper div>h3 {
    text-align: center;
  }
  .skill-grid{
    transform: translateX(-10px);
    row-gap: 65px;
    column-gap: 0px;
  }
  nav{
    position:fixed;
    z-index: 10;
    top: 0%;
    left: 0%;
    width: 55%;
    height: 100vh;
    border-right:  linear-gradient(#667eea 20%, #764ba2 100%);
    opacity: 0.9;
    padding: 30px;
    transform: translateX(-550px);
    transition: 0.35s ease-in-out;
  }
nav ul li
{
  font-size: 1.2em;
  margin: 15px 40px;
}
  .appear{
    transform: translateX(0);
  }
  .social
  {
    padding-left:0;
    padding-bottom: 30px;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    bottom: 30px;
  }
  .social i
  {
    margin-right: 0px;
  }
  .social-distancing{
    width: 250px;
  }
}


