
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');
:root{
  --sidebar-flex:1.5;
  --condiv-flex:6;
  --fontsize-p:1.2rem;
  --fontsize-nav:1.6rem;
  --typing-font:3rem;
}
*
{
  margin:0;
  padding: 0;
}
body{
  font-family: 'Nunito', sans-serif;
}
.App
{
  display: flex;
  width: 100vw;
  min-height: 100vh;
}
nav
{
  padding:60px 30px 0px 30px ;
  flex:var(--sidebar-flex);
  background: #667eea;
  background:  linear-gradient(#667eea 20%, #764ba2 100%);
}
.condiv
{
  padding: 100px ;
  background-color: #f4f5f9;
  flex:var(--condiv-flex);
  position: relative;
}

.home
{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  
}
.profilepic
{
  border-radius: 50%;
  width: 200px;
  margin: 30px;
}
.typingeffect
{
  font-size: var(--typing-font);
  margin-bottom: 30px;
}

nav ul{
  font-size:var(--fontsize-nav) ;
  text-align: center;
  list-style-type: none;
  text-decoration: none;
  color: white !important;
}
nav ul li
{
  border-radius: 8px;
  margin:40px;
}
nav ul li:hover{
  border-left: 2px solid  rgba(0, 0, 0, 0.1);
  border-right: 2px solid  rgba(0, 0, 0, 0.1);
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

a
{
  text-decoration: none;
  color: white;
}

.subtopic
{
  margin:10px 10px 30px 10px !important;
}
p{
  font-size: var(--fontsize-p);
}
h1,h2,h3,h4,p{
  margin: 10px;
}
.social
{
  position: absolute;
  margin-top: 20px;
  display: flex;
  bottom: 60px;
}
.social i
{
  padding-right: 30px;
  font-size: 25px;
  color: #9a9b9c;
}
.social i:hover
{
  color: #ffffff;
}
.skills ul li
{
  list-style-type:none;
  margin:30px;
}
.skill-wrapper {
  background-color:;
}
.copy{
  position:absolute;
  top:95%;
  left: 55%;
  width: 200px;
}

/*  MEDIA  */

@media all and (max-width: 450px) {
  :root {
    --fontsize-nav:1rem;
    --sidebar-flex:0;
    --typing-font:2rem;
  }
  .App
  {
    flex-direction: column;
  }
  .sidebar
  {
    padding: 30px;
    background: #667eea;
    background: linear-gradient(#667eea 20%, #764ba2 100%);
  }
  .condiv
  {
    padding: 50px ;
  }
  nav ul
  {
    display: flex;
  }
  nav ul li
  {
    margin: 10px;
  }
  .social
  {
    left:0;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    bottom: 30px;
  }
  .social i
  {
    padding-right: 0px;
  }
}