
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');
:root{
  --sidebar-flex:1.5;
  --condiv-flex:6;
  --fontsize-p:1.2rem;
  --fontsize-nav:1.6rem;
  --typing-font:3rem;
}
*
{
  margin:0;
  padding: 0;
}
body{
  font-family: 'Nunito', sans-serif;
}
.App
{
  position: relative;
  display: flex;
  min-height: 100vh;
}
.fa-bars {
  cursor: pointer;
  position: absolute;
  top: 30px;
  right: 30px;
  z-index: 10;
  color:  #667eea;
  display: none;
}
nav
{
  padding:30px 30px 0px 30px ;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  flex:var(--sidebar-flex);
  background: #667eea;
  background:  linear-gradient(#667eea 20%, #764ba2 100%);
  min-height: 100vh;
}

.condiv
{
  padding: 100px;
  background-color: #faf7f7;
  background: url("./img/form-top.svg") top left no-repeat, url("./img/form-bot.svg") bottom right no-repeat;
  flex:var(--condiv-flex);
  position: relative;
  min-height: 100vh;
}

.home
{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.animations-grid{
  padding-top: 50px;
  min-height: 100vh;
  display: grid;
  align-items: center;
  justify-content: center;
}

.anim{
  margin:20px 0;
  box-shadow: 0 -4px 10px rgba(102, 126, 234,0.2), 0 4px 10px rgba(118, 75, 162,0.2);
}
.first-anim{
  margin-top: 60px;
}
.last-anim{
  margin-bottom: 120px;
}
.profilepic
{
  box-shadow: 0 -6px 5px rgba(102, 126, 234,0.3), 0 6px 5px rgba(118, 75, 162,0.3);
  border-radius: 50%;
  width: 200px;
  margin: 30px;
}

nav ul{
  position: fixed;
  font-size:var(--fontsize-nav) ;
  text-align: center;
  list-style-type: none;
  text-decoration: none;
  color: white !important;
}
nav ul li
{
  font-size: 1em;
  margin: 20px 40px;
}
nav ul hr {
  border: none;
  border-bottom: 2px solid rgba(255, 255, 255,0.5);
  opacity: 0.5;
}


a
{
  text-decoration: none;
  color: white;
}

.subtopic
{
  margin:10px 10px 30px 10px !important;
  color: rgb(116, 116, 116);
}
p{
  font-size: var(--fontsize-p);
}
h1,h2,h3,h4,p{
  margin: 10px;
}
.social
{
  padding-left: 35px;
  align-self: center;
  position: absolute;
  display: flex;
  bottom: 60px;
}

.social i
{
  margin-right: 30px;
  font-size: 25px;
  color: #abb7ec;
}

.social i:hover
{
  color: #667eea;
}

.dev{
  color: #667eea;
}
.des{
  color: #764ba2;
}
.skill-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-content: flex-start;
}
.skill-wrapper div h3 {
  margin-bottom: 45px;
}

.skill-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 60px;
  column-gap: 60px;
  justify-items: center;
  align-items: center;
}

.about{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.about_me{
  text-align: center;
  padding: 10px 5px;
  border-radius: 10px;
  max-width: 450px;
  background:  rgba(250, 247, 247,0.5) ;
  box-shadow: 0 -4px 10px rgba(102, 126, 234,0.2), 0 4px 10px rgba(118, 75, 162,0.2);
}
.mf-form{
  margin-top: 100px;
  display: flex;
  justify-content: center;
}
.btn{ 
  color: white;
  font-size: 1em;
  background: linear-gradient(90deg, rgba(102,126,234,1) 0%, rgba(118,75,162,1) 100%); 
  border:none;
width: 200px;
height: 50px;
border-radius: 10px;
}
.btn:hover{
  cursor: pointer;
  background: linear-gradient(90deg, rgba(147,164,241,1) 0%, rgba(126,96,157,1) 100%); 
}
.input-p{
  margin-bottom: 0;
}
.input-info{
  font-size: 0.8em;
  padding-left: 10px;
  height: 30px;
  width: 200px;
  border-radius: 10px;
  border: 2px solid rgba(118, 75, 162,0.7);
  background:  rgba(250, 247, 247,0.5) ;
  font-family: 'Nunito', sans-serif;

}
textarea{
  border: 2px solid rgba(118, 75, 162,0.7);
  background:  rgba(250, 247, 247,0.5) ;
  border-radius: 10px;
  padding:5px;
  margin-top: 10px;
  font-family: 'Nunito', sans-serif;
  font-size: 1em;
  width: 200px;
  height: 150px;
}
.form-hr{
  display: block;
  margin: 10px 0;
  height: 1px;
  width: 50%;
  border: 0;
  border-top: 1px solid#cebfdd;
}
.mf-form > form {
  font-family: 'Nunito', sans-serif;
  background: rgba(102, 126, 234,0.1);
  border-radius: 10px;
  border: 2px solid #667eea;
  padding:20px;
  width: 300px;
  height: 590px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:center;
  }
  .align-radio{
    margin: 0;
    margin-left:10px;
    width: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
.copy{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  left: 52%;
  position: absolute !important;
  bottom: 0 !important;
  margin-bottom: 0 !important;
  color:#cebfdd;
}

.social-distancing {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid#cebfdd;
  align-self: center;
}

.copy-hr{
  display: flex;
  align-items: center;
  justify-content: center;
}
.vl {
  align-self: center;
  border-left: 2px solid#cebfdd;
  height: 250px;
}

/* SCROLLBAR */

/* width */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  border-left: 1px solid #8d8aeb;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #667eea;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #6866ea;
}



/*  MEDIA  */

@media all and (max-width: 500px) {
  :root {
    --fontsize-nav:1rem;
    --sidebar-flex:0;
    --typing-font:2rem;
  }
 .fa-bars{
    position:fixed;
    display: block;
 }
 .fa-bars:active{
   color:#764ba2;
 }
 .copy{
  width: 100%;
  left: 0%;
}

  .sidebar
  {
    padding: 30px;
    background: #667eea;
    background: linear-gradient(#667eea 20%, #764ba2 100%);
  }
  .condiv
  {
    padding: 35px;
    min-height: 100vh;
  }
  .skills-height{
    min-height: 145vh;
  }
  .skill-wrapper {
    flex-direction: column;
  }
  .mf-form{
    min-height: 110vh;
  }

  .mf-form > form {
    width: 250px;
  }
  .gallery{
    -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
  .vl {
    border-left: none;
    border-bottom: 2px solid#cebfdd;
    height: 0;
    margin-top: 60px;
    margin-bottom: 30px;
    width: 120px;
    align-self: center;
  }
  .subtopic{
    text-align: center;
  }
  .skill-wrapper div>h3 {
    text-align: center;
  }
  .skill-grid{
    transform: translateX(-10px);
    row-gap: 65px;
    column-gap: 0px;
  }
  nav{
    position:fixed;
    z-index: 10;
    top: 0%;
    left: 0%;
    width: 55%;
    height: 100vh;
    border-right:  linear-gradient(#667eea 20%, #764ba2 100%);
    opacity: 0.9;
    padding: 30px;
    transform: translateX(-500px);
    transition: 0.35s ease-in-out;
  }
  nav ul li
{
  font-size: 1.1em;
}
  .appear{
    transform: translateX(0);
  }
  .social
  {
    padding-left:0;
    padding-bottom: 30px;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    bottom: 30px;
  }
  .social i
  {
    margin-right: 0px;
  }
  .social-distancing{
    width: 250px;
  }
}



/* GALLERY LIGHTBOX */

.gallery {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(350px, 1fr))[auto-fit];
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-gap: 1em;
  margin-bottom:100px;
}

.gallery img {
  border-radius: 20px;
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
  height: 300px;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.gallery img:hover {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
  -webkit-transform: scale(1.02);
  transform: scale(1.02);
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  width: 100%;
  cursor: pointer;
}

.card a:hover {
  -webkit-transform: scale(1.02);
  transform: scale(1.02);
}

.card:hover>.info {
  -webkit-animation: disappear 0.2s forwards;
  animation: disappear 0.2s forwards;
}

.card .info {
  border-radius: 20px;
  pointer-events: none;
  color: white;
  position: absolute;
  z-index: 1;
  text-align: center;
  width: 50%;
  background: rgba(0, 0, 0, 0.5);
  visibility: visible;
}

.card .info h1 {
  font-size: 1.2em;
  font-weight: 300;
}